.container {
outline: 1px solid #67466f;
max-height: 960px;
width:  960px;
margin: auto;
font-size: 0;
margin-top: 20px;
overflow: hidden;
}
.grid {
outline: 1px solid #67466f;
display: inline-block;
vertical-align: top;
margin:0;
padding:0;
border:none;
}
button {
    margin: 10px;
}